@import "mixins";
@import "elements";
@import "bootstrap/mixins/vendor-prefixes";
@import "bootstrap/mixins/center-block";
@import "bootstrap/variables";

@default-border-color: #403c3a;

html, body {
	height: 100%;
}

.page-container {
	background: #494542;
	padding-left: 0;
	padding-right: 0;
	border-left: 1px solid @default-border-color;
	border-right: 1px solid @default-border-color;
}

.navbar-green {
	background: #494542;
	.br(0);
	border: none;
	color: #ffcc52;
	margin-bottom: 0;

	a {
		color: #c4b48b;
		white-space: nowrap;

		&:hover, &:focus {
			color: #ffcc52;
		}
	}

	.nav > li > a:hover, .nav > li > a:focus {
		background: #514c48;
	}

	.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
		background: #514c48;
	}

	.dropdown-menu {
		width: 100%;
		border: none;
		margin-top: 1px;
	}

	small {
		font-size: 11px;
		line-height: 10px;
		width: 90px;
		display: inline-block;
		vertical-align: middle;
		margin-left: 5px;
		text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
		white-space: normal;
		text-align: left;
	}

	.nav > li {
		height: 81px;

		border-bottom: 1px solid @default-border-color;
		border-left: 1px solid @default-border-color;
		line-height: 62px;
		.bs;

		&:first-child {
			border-left: 0;
		}

		& > a {
			line-height: 62px;
		}
	}

	.btn-success, .open > .dropdown-toggle.btn-success {
		color: #403315;
		min-width: 140px;

		&:active, &:focus {
			color: #402f0f;

			.lg(#ffbc3b, #ffbc3b);
		}
	}

	.navbar-form {
		padding: 0 35px;
	}

	.navbar-search-string {
		background: #544f4a 13px center no-repeat url("../img/navbar-search-icon.png");
		padding-left: 40px;
		border-color: #3e3a37;
		.inner-shadow(1px, 1px, 3px, 0.27);
		color: #fff;
		font-size: 15px;
		line-height: 18px;
		width: 300px !important;

		.placeholder(#c4c4bc);
		.transition-property(background-color);
		&:active, &:focus {
			background: #635c56 13px center no-repeat url("../img/navbar-search-icon-focus.png");
			border-color: #3e3a37;
			outline: none;
			.inner-shadow(1px, 1px, 3px, 0.27);
		}
	}
}

.navbar-user-avatar {
	border: 3px solid #ffc552;
	margin-left: 13px;
	margin-right: 5px;
	width: 46px;
	height: 46px;
}

.navbar-user-name {
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.btn {
	padding-left: 15px;
	padding-right: 15px;
	outline: 0 !important;

	.badge {
		font-family: @font-family-base;
		margin: 0 0 0 8px;

		&.label-success {
			background-color: #2d7a29;
		}

		&.label-warning {
			background-color: #f4c414;
		}

		&.label-info {
			background-color: #6b6b6b;
		}

		&.label-default {
			background-color: #d2d0ca;
		}

		&.label-danger {
			background-color: #e54040;
		}
	}
}

.btn-success {
	.lg(#face48, #fabe48);
	border: none;
	box-shadow: inset 0 -2px 0 #eaae45;
	font-family: "pf_square_sans_promedium";
	padding: 7px 15px;
	color: #403415;

	&:hover, &:focus, &:active {
		.lg(#ffde7a, #ffd27a);
		box-shadow: inset 0 -2px 0 #edba63;
		color: #40361f;
	}

	&:active, &.active {
		background: #ffbc3b;
		box-shadow: inset 0 4px 4px rgba(210, 150, 64, 0.72);
	}

	&[type="submit"] {
		color: #000;
	}
}

.btn-default {
	.lg(#f9f7f0, #f1eee4);
	border-color: #d7cfb7;
	box-shadow: inset 0 -2px 0 #e6e2d6;
	color: #cf3701;
	font-family: "pf_square_sans_promedium";

	&:hover, &:focus, &:active {
		color: #cf3701;
		.lg(#fcfbf9, #f9f7f0);
		border-color: #d7cfb7;
		box-shadow: inset 0 -2px 0 #e6e2d6;
	}

	&:active, &.active {
		color: #3d3d3d;
		background: #f0ebdd;
		box-shadow: inset 2px 2px 2px #e1d9c3;
		border-color: #d7cfb7;
		outline: none;
	}
}

.btn-warning {
	.lg(#fef7dd, #fdf6dc);
	border-color: #d7cfb7;
	box-shadow: inset 0 -2px 0 #f9ebb7;
	color: #cf3701;
	font-family: "pf_square_sans_promedium";

	&:hover, &:focus, &:active {
		.lg(#fffbed, #fefaed);
		box-shadow: none;
		color: #cf3701;
		border-color: #d7cfb7;
	}

	&:active, &.active {
		background: #fbe7a1;
		color: #403315;
		border-color: #d7cfb7;
		box-shadow: inset 4px 4px 4px rgba(232, 186, 16, .3);
	}
}

.btn-danger {
	.lg(#f9eaea, #f9e8e8);
	color: #cf3701;
	border-color: #d7cfb7;
	box-shadow: inset 0 -2px 0 #f4d9d9;
	font-family: "pf_square_sans_promedium";

	&:hover, &:focus, &:active {
		.lg(#fcf4f4, #fcf3f3);
		color: #cf3701;
		box-shadow: inset 0 -2px 0 #f5dcdc;
		border-color: #d7cfb7;
	}

	&:active, &.active {
		background: #efc1c0;
		color: #403315;
		border-color: #d7cfb7;
		box-shadow: inset 4px 4px 4px rgba(202, 88, 86, .15);
	}

	.badge {
		font-family: Arial;
		font-weight: bold;
		color: #fff;
		background-color: #ff5f5f;
		padding: 4px 7px;
	}
}

.btn-group-vertical .btn-default {
	box-shadow: none;
}

.dropdown-menu {
	padding-top: 0;
	padding-bottom: 0;

	& > li > a {
		color: #cf3701;
		font-size: 14px;
		padding: 5px 20px;

		&:hover, &.active {
			background-color: #ffcc52;
			color: #40361f;
		}
	}

	& > li:first-child a {
		border-top-left-radius: @border-radius-base;
		border-top-right-radius: @border-radius-base;
	}

	& > li:last-child a {
		border-bottom-left-radius: @border-radius-base;
		border-bottom-right-radius: @border-radius-base;
	}
}

.dropdown-menu-large {
	& > li > a {
		padding: 10px 20px;
	}

	i.fa {
		color: #737373;
	}

	li:hover, li:active {
		i {
			color: #cf3701;
		}
	}
}

.no-top-border-radius {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding-top: 0px;
	margin-top: 1px;

	& > li:first-child > a {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
}

.left-menu {
	margin-right: -25px;

	& > li {
		border-bottom: 1px solid @default-border-color;
		border-right: 1px solid @default-border-color;
		margin-top: 0 !important;
		text-align: center;

		& > a {
			color: #c4b48b;
			padding-top: 20px;
			padding-bottom: 18px;
			position: relative;
			text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
			font-family: "pf_square_sans_promedium";
		}

		&:hover, &:focus {
			& > a {
				color: #ffcc52;
				background-color: transparent;
			}
		}
	}

	& > li.active > a, & > li.active > a:hover, & > li.active > a:focus, .open > a, .open > a:hover, .open > a:focus {
		color: #ffcc52;
		background-color: transparent;
	}

	i.fa {
		font-size: 24px;
		display: block;
		margin-bottom: 2px;
	}

	.badge {
		background-color: #ff5f5f;
		position: absolute;
		top: 15px;
		right: 14px;
		font-family: @font-family-base;
	}

	.dropdown-menu {
		top: 0;
		left: 100%;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		margin-top: 0;
		margin-left: 1px;
		border: none;

		& > li:first-child > a {
			border-top-left-radius: 0;
		}
		& > li:last-child > a {
			border-bottom-left-radius: 0;
		}
	}
}

.typeahead {

	margin-top: 3px !important;

	& > li > a {
		color: #cf3701;

		border-top: 1px solid #ededed;
		padding-top: 11px;
		padding-bottom: 11px;

		i.fa {
			font-size: 18px;
			margin-top: 10px;
		}
	}

	& > li.active > a, & > .active > a:hover, & > .active > a:focus {
		background-color: #ffcc52;
		color: #40361f;

		& > .type {
			color: #402f0f;
		}
	}

	& > li:first-child > a {
		border-top: 0;
	}

	.type {
		font-size: 12px;
		color: #737373;
		display: block;
	}
}

.page-inner-content {
	background-color: #e5dfcc;
	margin-left: -25px;
}

.breadcrumb {
	border-bottom: 1px solid #cfc8b5;
	font-size: 12px;
	.br(0);
	padding-top: 10px;

	& > li > i.fa {
		margin: 0 5px;
	}

	& > li + li:before {
		display: none;
	}
	i.fa-home {
		font-size: 15px;
		margin-right: 6px;
		color: #5c5852;
	}
	a {
		color: #5c5852;
	}
	.active {
		font-weight: bold;
	}
}

h1 {
	font-family: "pf_square_sans_proregular";
	font-size: 30px;
	color: #c1151c;
	padding-left: 25px;
	padding-right: 28px;
	margin: 30px 0 33px;
}

.content {
	border-top: 1px solid #d7cfb7;
	background-color: #ebe6d7;
	padding: 35px 25px;
}

/* Tables */
.table > thead > tr > th, .table > tbody > tr > th {
	font-weight: bold;
	font-size: 12px;
	color: #656156;
	.lg(#fbfbf3, #f7f7ed);
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td,
.table > thead:first-child > tr:first-child > th {
	border-color: #d6ceb5;
	border-bottom-width: 1px;
	vertical-align: middle;
}

.table {
	border: 1px solid #d6ceb5;

	td {
		background-color: #fcfcfc;
	}

	& > tbody > tr.bg-warning > td, td.bg-warning {
		background-color: #f1f1f1;
	}

	& > tbody > tr.bg-danger > td, td.bg-danger {
		background-color: #fae7e5;
	}

	& > tbody > tr.bg-success > td, td.bg-success {
		background-color: #fdf9df;
	}

	& > tbody > tr.bg-warning-success > td, td.bg-warning-success {
		background: left top no-repeat url("../img/missed-lesson-bg.png");
		-webkit-background-size: cover;
		background-size: cover;
	}

	& > tbody > tr.wide-borders {
		& > td {
			border-top: 4px solid #fbdbd8;
			border-bottom: 4px solid #fbdbd8 !important;

			&:first-child {
				border-left: 4px solid #fbdbd8;
			}

			&:last-child {
				border-right: 4px solid #fbdbd8;
			}
		}
	}

	& > tbody > tr > td.wide-borders {
		border: 2px solid #f3aa9f;
	}

	td.right-border, th.right-border {
		border-right: 1px solid #f2eee3 !important;
	}

	& > tbody > tr > td {
		padding: 16px 20px;
		color: #000;

		border-top-color: #f2eee3;
		border-bottom-color: #f2eee3;
		border-left-color: #f8f6f1;
		border-right-color: #f8f6f1;

		min-height: 33px;
	}

	& > thead > tr > th, & > thead > tr > td, & > tbody > tr > th {
		padding: 8px 20px;
	}

	& > tbody > tr:first-child > td {
		border-top-color: #d6ceb5;
	}

	& > thead > tr > th, & > tbody > tr > th {
		border-left: none;
		border-right: none;

		&:first-child {
			border-left: 1px solid #d6ceb5;
		}

		&:last-child {
			border-right: 1px solid #d6ceb5;
		}
	}

	& > tbody > tr > td:first-child {
		border-left-color: #d6ceb5;
	}

	& > tbody > tr > td:last-child {
		border-right-color: #d6ceb5;
	}

	& > tbody > tr:last-child > td {
		border-bottom-color: #d6ceb5;
	}

}

.btn-rounded {
	.br(50px);
	padding: 0;
	line-height: 35px;
	width: 31px;
	height: 31px;
	font-size: 18px;
	color: #706b60;
	.lg(#f9f7f0, #f1eee4);
	box-shadow: 0 1px 0 #d7cfb6, inset 0 1px rgba(255, 255, 255, .43);
	border: none !important;

	&:hover, &:focus, &:active {
		.lg(rgba(255, 192, 0, .68), rgba(255, 168, 0, .68));
		box-shadow: 0 1px 0 #ba7b00;
		color: #665221;
	}

	&:active, &.active {
		color: #665221;
		background: rgba(255, 168, 0, .77);
		box-shadow: inset 0 4px 4px rgba(210, 150, 64, .72);
	}
}

.lessons-info-block {
	border: 1px solid #ebe6d7;
	height: 22px;
	.br(2px);
	padding: 0;
	display: inline-block;
	white-space: nowrap;
	color: #000;

	& > span {
		font-size: 12px;
		padding: 0 8px;
		line-height: 21px;
		border-left: 1px solid #ebe6d7;
		display: inline-block;
		float: left;

		&:first-child {
			border-left: 0;

			font-weight: bold;
			font-size: 14px;
			background-color: #ebe6d7;
		}
	}

	&.inverted {
		& > span:first-child {
			font-weight: normal;
			font-size: 12px;
			background: none;
		}
		& > span:last-child {
			font-weight: bold;
			font-size: 14px;
			background-color: #ebe6d7;
		}
	}

	&.text-muted {
		color: #5c5852;
		border-color: #e5dfcc;

		& > span:first-child {
			background-color: #e5dfcc;
		}
	}

	&.text-danger {
		border-color: #e54040;
		color: #5c5852;

		& > span {
			border-color: #e54040;
		}

		& > span:first-child {
			background-color: #e54040;
			color: #fff;
		}
	}
}

.close {
	font-size: 24px;
	color: #5c5852;
	opacity: 1;
	text-shadow: none;
}

.modal-title {
	font-size: 24px;
	color: #3d3d3d;
	font-family: "pf_square_sans_proregular";
	line-height: 1.45;
}

.modal-content {
	.br(0);
}

.modal-header, .modal-footer {
	border: none;
}

.modal-header {
	padding: 20px 20px 10px 25px;
}

.modal-body {
	padding-top: 12px;
	padding-bottom: 0;
}

.modal-footer {
	text-align: center;
}

.form-table {
	margin-bottom: 0;

	& > tbody > tr > td {
		vertical-align: top;
	}

	tr.static > td {
		vertical-align: middle;
		background-color: #f6f3e9;
		border-bottom-color: #dbd2b8;
	}

	label {
		font-size: 13px;
		line-height: 2;
		color: #5c5852;
	}
}

.form-control {
	.box-shadow(inset 0 1px 1px #ededed);

	&:active, &:focus, &.active {
		.box-shadow(inset 0 1px 1px rgba(0, 0, 0, .075));
	}
}

.form-control-feedback {
	top: 26px;
}

.modal-xlg {
	width: 1000px;
}

.datepicker {

	&.dropdown-menu {
		background-color: #fcfcfc;
		border-color: rgba(73, 69, 66, .05);
		padding: 10px 8px;

		th, td {
			padding: 7px 10px;
		}
	}
	table tr td {
		font-size: 14px;
		color: #3d3d3d;
		font-family: "pf_square_sans_promedium";
	}

	thead th {
		font-family: 'pf_square_sans_probold';
		font-weight: bold;
	}

	table tr td.active {
		background-color: #ffcc52 !important;
		border: none !important;
		color: #40361f !important;
		text-shadow: none !important;
	}
}

.action-status {
	font-size: 20px;
	color: rgba(0, 0, 0, 0.65);
	line-height: 40px;
	height: 40px;
	width: 40px;
	.br(20px);
	display: inline-block;
	text-align: center;

	&.bg-success {
		background-color: #bddbb2;
	}

	&.bg-warning {
		background-color: #faf7c8;
	}
}

.activity-table {
	& > tbody > tr > td {
		padding-left: 12px;
		padding-right: 12px;

		&:first-child {
			padding-left: 26px;
		}

		&:last-child {
			padding-right: 26px;
		}
	}
}

.button-column .btn {
	margin-left: 15px;

	&:first-child {
		margin-left: 0;
	}
}

.course-title {
	font-family: "pf_square_sans_proregular";
	font-size: 20px;
}

.big-number {
	font-family: "pf_square_sans_proregular";
	font-size: 36px;

	&.text-warning {
		color: #297825;
	}

	&.text-success {
		color: #f4c414;
	}
	&.text-muted {
		color: #c0c0bf;
	}

	&.text-danger {
		color: #e13b00;
	}
}

strong.big-number {
	font-family: "pf_square_sans_promedium";
}

.text-no-bold {
	font-weight: normal;
}

.lesson-status {
	font-size: 30px;
}

.radio {

	input[type=radio] {
		position: relative;
		width: 0 !important;
		margin-right: 16px;

		&:before {
			position: absolute;
			top: -1px;
			left: -13px;
			width: 21px;
			height: 21px;
			background: left top no-repeat url("../img/radio.png");
			content: '';
		}

		&:checked:before {
			background-position: left bottom;
		}
	}
}

.radio label {
	padding-left: 31px;
	font-size: 14px;
	color: #000;
}

.checkbox {
	input[type=checkbox] {
		position: relative;
		width: 0 !important;
		margin-right: 16px;

		&:before {
			position: absolute;
			top: -3px;
			left: -11px;
			width: 22px;
			height: 22px;
			background: left top no-repeat url("../img/checkbox.png");
			content: '';
		}

		&:checked:before {
			background-position: left bottom;
		}
	}
}

.checkbox label {
	padding-left: 31px;
	font-size: 14px;
	color: #000;
}

.modal-content.bg-danger {
	background-color: #c7c7c7;
}

.modal-content.bg-warning {
	background-color: #f6a7a6;
}

.input-lg {
	font-size: 36px;
	padding-top: 2px;
	padding-bottom: 2px;
	line-height: 1;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
	color: #7e7e7e;
}

.modal-content .form-table + .form-table {
	margin-top: -1px;
}

.manager-link {
	height: 40px;
	line-height: 40px;

	img {
		margin-right: 25px;
	}
}

.form-group-container {
	border: 1px solid #d7cfb7;
	padding: 25px;
	margin-bottom: 35px;

	label {
		font-size: 12px;
		line-height: 1.7;
		color: #5c5852;
	}

	& > .row > [class^="col-"] .form-group:last-child {
		margin-bottom: 0;
	}
}

.form-group-title {
	font-family: "pf_square_sans_proregular";
	font-size: 18px;
	color: #5c5852;
	margin-bottom: 20px;
}

.nav-tabs {
	border-bottom: 0;

	& > li > a {
		height: 74px;
		color: #cf3701;
		font-family: "pf_square_sans_promedium";
		font-size: 14px;
		padding: 15px 35px;
		.lg(#f9f7f0, #f1eee4);

		border-top: 1px solid #d7cfb7;
		border-right: 1px solid #d7cfb7;
		border-left: 1px solid #d7cfb7;
		border-bottom: 1px solid #d7cfb7;
		margin: 0;
		margin-right: -1px;

		.br(0);

		i {
			font-size: 22px;
			color: #5c5852;
			margin-bottom: 5px;
		}

		&:hover, &:active {
			.lg(#fcfbf9, #f9f7f0);
		}
	}

	& > li:first-child > a {
		border-top-left-radius: @border-radius-base;
		border-left: 1px solid #d7cfb7;
	}
	& > li:last-child > a {
		border-top-right-radius: @border-radius-base;
		border-right: 1px solid #d7cfb7;
	}
}

.nav-tabs > li {
	&.active > a, &.active > a:hover, &.active > a:focus {
		background: #f0ebdd;
		border-bottom-color: #e5dfcc;
		color: #5c5852;

		i {
			color: #5c5852;
		}
	}

	&.disabled > a, &.disabled > a:hover, &.disabled > a:focus {
		background: #e5dfcc;

		i {
			color: #d7cfb7;
		}
	}

	&.normal {
		& > a, & > a:hover, & > a:focus {
			background: #e5dfcc;
			color: #5c5852;
		}
	}
}

.tabs-container {
	background: #e5dfcc;
	margin: -36px -25px 35px;
	padding: 0 25px;
	border-bottom: 1px solid #d7cfb7;
}

.user-view-table {
	margin-bottom: 35px;

	.icon-column {
		color: #5c5852;
		font-size: 18px;
		background-color: #fafaf2;
		text-align: center;
	}

	& > tbody > tr > td {
		border-color: #f2eee3;
	}

	& > tbody > tr:first-child > td {
		border-top-color: #d6ceb5;
	}

	p {
		font-size: 12px;
	}

	tr:first-child > td:first-child {
		vertical-align: top;
	}

	td:empty {
		background-color: #f8f7f3;
	}

	/* Hack */
	& > tbody > tr:first-child > td:first-child {
		border-bottom-color: #d6ceb5;
	}

	& > tbody > tr.last-row > td {
		border-bottom-color: #d6ceb5;
	}
}

.user-name {
	font-family: "pf_square_sans_proregular";
	font-size: 20px;
}

.user-status {
	&.text-success {
		color: #2d7a29;
	}
}

.user-info-block {
	border-top: 1px solid #f8f6f1;
	margin: 15px -20px 0;
	padding: 0 20px;

	ul {
		font-size: 12px;
		color: #5c5852;
		line-height: 20px;
		margin: 0 -20px;

		li {
			border-top: 1px solid #f8f6f1;
			padding: 17px 20px;

			&:first-child {
				border-top: 0;
			}
		}

		i {
			font-size: 16px;
			margin-right: 8px;
		}
	}

	&.no-borders {
		border-top: none;

		li {
			border-top: none;
			padding: 6px 20px;
		}
	}
}

.user-info-collapse {
	margin-top: 15px;
	display: block;

	i {
		color: #5c5852;
		font-size: 14px;
		margin-right: 6px;
	}

	a {
		font-size: 12px;
		border-bottom: 1px dashed #f7d5ca;

		&:hover, &:active {
			text-decoration: none;
			border-bottom-style: solid;
		}
	}
}

.time-table {
	border: none;

	& > tbody > tr > td:last-child > a {
		font-size: 24px;
		color: #5c5852;
		margin: 0 5px;
	}

	& > thead > tr > th {
		background: none !important;
		border: none !important;
	}
}

.radio-form-wrapper {
	padding-left: 35px;
}

.user-info-table {
	th.icon-column {
		border-right: 1px solid #f2eee3;
		font-size: 36px;
		color: #5c5852;
		text-align: center;
		width: 110px;
	}

	th > a {
		font-size: 12px;
		font-weight: bold;
		line-height: 1.12;

		i {
			font-weight: normal;
		}
	}

	& > tbody > tr > td {
		vertical-align: top;
	}

	.divider {
		width: 50px;
		display: inline-block;
	}

	p {
		font-size: 12px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.lesson-schedule-block {
	display: inline-block;
	border: 1px solid #ebe6d7;
	border-bottom-width: 2px;
	padding: 0 9px 4px;
	margin-right: 30px;
	text-align: left;

	& > .title {
		background: #ebe6d7;
		font-family: "pf_square_sans_proregular";
		font-size: 17px;
		line-height: 20px;
		padding: 7px 9px;
		margin: 0 -9px 3px;
	}
}

td > .lesson-schedule-block:last-child {
	margin-right: 0;
}

.working-hours-table {
	th {
		text-align: center;
	}

	& > thead > tr > th, & > tbody > tr > td {
		border: 1px solid #d6ceb5;
	}

	& > tbody > tr > th {
		width: 70px !important;
		font-size: 13px;
	}

	& > tbody > tr > td {
		width: 100 / 7%;
		height: 47px;
		padding: 0;
	}

	td:hover > a {
		background: #e5dfcc;
	}

	td.hover > a, th.hover {
		background: #ebe6d7;
	}
	th.hover {
		color: #b31217;
	}
}

.working-hours-checkbox {
	height: 49px;
	display: block;
	font-size: 26px;
	line-height: 49px;

	&.off {
		background: #fbfbf3;
		color: #cc9999;
	}

	&.on {
		color: #99cc99;
		background: #fff;
	}
}

.user-link-wrapper {
	margin-left: 60px;
}

.user-big-link-wrapper {
	margin-left: 100px;
}

.teacher-lessons-table {

	& > tbody > tr > td, & > thead > tr > th, td, th {
		padding: 10px 18px;
	}

	& > tbody > tr > td {
		border-bottom: 1px solid #d6ceb5;
	}
}

@time-table-cell-height: 23px;
@time-table-cell-padding: 2px;

.teacher-time-table {
	& > thead > tr > th:first-child, & > tbody > tr > td:first-child {
		width: 88px;
	}

	& > tbody > tr > td {
		height: @time-table-cell-height;
		padding: 0 5px;
		line-height: @time-table-cell-height;
		vertical-align: top;
	}

	& > thead > tr > th, & > thead > tr > td {
		font-size: 11px;
		color: #bbbab3;
		font-weight: normal;
	}

	& > tbody + tbody, & > tbody + thead, & > thead > tbody {
		border-top: 1px solid #d6ceb5;
	}

	& > thead > tr > th {
		padding: 16px 0;
	}

	td:first-child, th:first-child {
		border-right: 1px solid #eae6da !important;
	}

	td:first-child {
		font-size: 13px;
		font-weight: bold;
		color: #5c5852;
		background: #fbfbf3;
	}

	tr:first-child > td:first-child {
		background: #eeebdc;
	}

	td, th {
		text-align: center;
	}

	.lesson-time-container {
		position: relative;
	}

	.lesson-time-block {
		position: absolute;
		top: @time-table-cell-padding;
		left: 0;
		width: 100%;
		.br(4px);
		min-height: (@time-table-cell-height) * 3 - @time-table-cell-padding * 2;

		&.bg-success {
			background: #bddbb2;
		}
		&.bg-danger {
			background: #cfd1cf;
		}
		&.bg-warning {
			background: #faf7c8;
		}

		&.size-45 {
			height: (@time-table-cell-height) * 3 - @time-table-cell-padding * 2;
		}
		&.size-60 {
			height: (@time-table-cell-height) * 4 - @time-table-cell-padding * 2;
		}
		&.size-90 {
			height: (@time-table-cell-height) * 6 - @time-table-cell-padding * 2;
		}
		&.size-120 {
			height: (@time-table-cell-height) * 8 - @time-table-cell-padding * 2;
		}
	}

	.start-time, .end-time {
		position: absolute;
		left: 20px;
	}

	.start-time {
		top: 10px;
	}

	.end-time {
		bottom: 10px;
	}

	.lesson-time-info {
		position: absolute;
		left: 75px;
		top: 50%;
		margin-top: -22px;
		right: 0;
	}

	.text-circle {
		font-family: "pf_square_sans_promedium";
		font-size: 16px;
		color: #5c5852;
		line-height: 35px;
		border: 4px solid rgba(0, 0, 0, .04);
		.br(21px);
		width: 42px;
		height: 42px;
		display: inline-block;
		text-align: center;
	}

	.user-name-link {
		font-family: "pf_square_sans_promedium";
		font-size: 18px;
		line-height: 21px;
	}
}

.table-va-top & > tbody > tr > td {
	vertical-align: top;
}

.number {
	color: #000;
	font-size: 18px;
	font-family: "pf_square_sans_proregular";
}

.student-dashboard-hint {
	.fa-border {
		border-color: #d8d0b8;
		padding: 9px 10px;
		font-size: 15px;
	}

	& > p {
		margin-left: 57px;
	}
}

.login-page-container {
	min-height: 100%;
	height: 100%;
}

.login-logo {
	margin-top: 110px;
	margin-bottom: 50px;
}

.login-form {
	width: 300px;
	.center-block();
	background-color: #ffffff;
	padding: 0 24px 24px;
	.br(6px);
	.box-shadow(0 1px 1px rgba(0, 0, 0, .15));

	label {
		font-size: 12px;
		font-weight: bold;
		color: #4c4c4c;
	}
}

.form-title {
	font-size: 18px;
	color: #3d3d3d;
	font-family: "pf_square_sans_promedium";
	border-bottom: 1px solid #ddd9cf;
	margin: 0 -24px 23px;
	line-height: 60px;
	padding: 0 24px;
}

.disabled-cell {
	span {
		color: #b1ae9c;
	}

	.text-muted {
		color: #ccc8b4;
	}
}